.paginated {
    display: flex;
    justify-content: center;
    align-items:  center;
}

.paginated__button {
    background-color: var(--blue-dark);
    color: #eee;
    margin-bottom: 10px;
    font-size: 20px;
    padding: 0 10px;
    margin-inline: .5px;
    border: .5px solid var(--blue-dark);
    transition: background-color .2s ease-in;
}

.paginated__button:hover {
    background-color: var(--blue);
}

.active {
    border: 1px solid var(--blue-light);
    color: var(--blue-light);
}