.navBar {
    padding: 20px;
    box-shadow: 0 5px 5px 0 var(--blue-light);
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
}

.navBar__create {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    color: var(--blue-dark);
}

.navBar__create::after {
    content: "";
    display: block;
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    background: var(--blue);
    border-radius: 5px;
    transition: transform 250ms ease;
    transform-origin: right;
}

.navBar__create:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}